* {
    margin: 0;
    padding: 0;
}
.header {
  border: 2px solid red;  
  align-items: center;

}
.logo {
    text-align: center;

    width: 20%;
}

.logomed {
    height: 225px;
}
.images {
   display: flex;
}
.card {
    display: flex;
    flex-direction: column; /* Располагаем элементы по вертикали */
    align-items: center; /* Выравнивание по центру по горизонтали */
    justify-content: space-between; /* Пространство между элементами */
    width: 22%; /* Ширина карточки — можно использовать процент или фиксированную ширину */
    padding: 20px; /* Внутренние отступы внутри карточки */
    margin: 20px; /* Отступы между карточками */
    border: 2px solid black; /* Граница карточки */
    border-radius: 20px; /* Скругление углов карточки */
    height: 470px; /* Фиксированная высота карточки */
    box-sizing: border-box; /* Чтобы padding и border не выходили за пределы карточки */
    word-wrap: break-word; /* Текст не будет выходить за пределы карточки */
  }
.card img {
    max-width: 100%;
    height: auto;
    border-bottom: 2px solid black;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
}
.card p {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom:0px; /* Отступ от описания к кнопкам */
  }
  
  .card button {
    padding: 10px 20px;
    margin-bottom:0px ;
    margin-top: 5px;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .card button#basket {
    background-color: #28a745; /* Разный цвет для другой кнопки */
  }